:root {
    color-scheme: dark light;
    background-color: #242424;
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    place-content: center;
    height: 100vh;
    color: white;
    
}

section {
    position: absolute;
    background: black;
    width: 100vw;
    height: 100hw;
    top: 0;
    inset: 0;
    display: grid;
    font-size: 48px;
    place-content: center;
}

.dev {
    font-size: 18px;
    position: absolute;
    place-self: flex-end;
    bottom: 10px;
    right: 10px;
    
}