body {
    background-color: bisque;
}

.grid-container {
    background-color: brown;
    display: grid;
    /* max-width: 600px; */
    grid-template-columns: 300px 300px 300px;
    margin: 0 auto;
    
}

.grid-item, .grid-img {
    /* background-color: cadetblue; */
    border: 2px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}


.grid-img {
    grid-row: 1/3;
    grid-column: 1/2;
    z-index: 1;
}

.grid-img > img {
    max-width: 100%;
   
}

h1 {
    grid-column: 1/3;
    grid-row: 1/2;
    margin: 0;

}

