@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Kelly+Slab&display=swap');

.content {
    max-width: 1600px;
    margin: 0 auto;
}

body {
    font-family: 'Chakra Petch', 'Kelly Slab';
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.marker {
    background-color: #0d0f0e;
    color: #f8a501;
    font-size: 12px;
    height: 30px;
    margin: 0;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 15px;
}

.banner img {
    width: 90px;
    margin-top: -15px;
    justify-content: center;
}

.banner {
    font-family: "Kelly Slab";
    background: rgba(59, 124, 182, 0.8);
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}


nav {
    display: contents;
}

nav a {
    text-decoration: none;
    color: #0d0f0e;
}

nav a:hover {
    background: #0d0f0e;
    color: #f8a501;
}

#hero {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: -80px;
}

#hero-box {
    grid-column: 1/7;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 1/4;
    grid-row: 1/3;
    justify-self: center;
    align-self: center;
    font-family: "Kelly Slab";
    margin-top: -100px;
    margin-left: 10px;
    color: #0d0f0e;
    font-size: 30px;
}

#hero-img {
    width: 100%;
    height: 750px;
}

#hero-msg h3 {
    text-align: center;
}

.button {
    background: #3B7CB6;
    text-align: center;
    padding: 5px;
    color: #0d0f0e;
    text-decoration: none;
} 

.button:hover {
    background: #0d0f0e;
    color: #f8a501;
}

.hero-button {
    text-align: center;
    
}


.main-grid {
    width: 90%;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(32, 40px);
    
}

.home-text {
    grid-column: 1/21;
    grid-row: 1/4;
    text-align: center;
    
}

.benefit-background {
    background-color: #3B7CB6;
    grid-column: 1/21;
    grid-row: 6/18;
    
}

.benefit-img {
    grid-column: 2/9;
    grid-row: 7/17;
    width: 100%;
    height: 100%;

}

.benefits {
    grid-column: 10/20;
    grid-row: 7/17;
    text-align: center;
    font-size: large;
    color: white;
}

.contact-text {
    grid-column: 1/21;
    grid-row: 19/21;
    text-align: center;
    align-self: start;
}

.home-end {
    grid-column: 4/18;
    grid-row: 22/33;
    display: flex;
}

.msg-end {
    text-align: center;
    align-self: center;
    padding: 30px;
}
.contact-img {
    width: 400px;
    height: 400px;
}

footer {
    background: #0d0f0e;
    color: white;
    height: 230px;
    display: grid;
    grid-template-rows: 160px 70px;
    gap: 2px;
}

.social-banner {
    display: flex;
    background: #3B7CB6;
    margin-top: -11px;
    justify-content: space-around;
    align-items: center;
}
.social-img {
    width: 200px;
    height: 150px;
}

.social img {
    width: 80px;
    height: 80px;
}

.social {
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.botton-banner {
    background: #3B7CB6;
    display: flex;
    justify-content: space-around;
    align-items: center;
}