#content {
    background-color: gray;
    width: 100%;
}

#logo_web {
    width: 100%;
    margin: 0 auto;
}

#icon {
    max-width: 15%;
    border-radius: 50%;
    border: 10px solid rgb(65, 63, 63);
    margin: 60px;
    padding: 0%;
}

footer {
    margin: 0 auto;
    text-align: center;
}

.box_icon {
    padding-bottom: 0%;
}

